@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWUBA&skey=c27c9a4f66e66f55&v=v14) format('woff');
}
